<div class="col-sm-2 sidenav">
    <div class="well">
        <p>ADS</p>
        <!--<div class="container">-->
        <a href="/"><img src="/images/Narkis.jpg" class="img-rounded" alt="Narkis" width="150" height="150"></a>
    </div>
    <div class="well">
        <p>ADS</p>
        <a href="/"><img src="/images/Vered.jpg" class="img-rounded" alt="Vered" width="150" height="150"></a>
    </div>
</div>