<html>
  <body>
    <form ref='fileuploader' 
      id='fileuploader' 
      action='http://localhost:8080/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>