<p style="text-align:center;">
    <a href="">
        <img src="images/logo.png" alt="Logo">
    </a>
</p>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Flower Center</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" id="addAfterLogin">
                <li class="active">
                    <a href="#" id="home_li">Home</a>
                </li>
                <li onclick="sendJQuerryAjax('About')">
                    <a href="#" id="about_li">About</a>
                </li>
                <li onclick="sendJQuerryAjax('Contact')">
                    <a href="#" id="contact_li">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" id="login_li" onclick="showLogin();">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>