<div class="col-sm-2 sidenav">
    <p>
        <img src="/images/Kalanit.jpg" id="xxx" class="img-rounded2" alt="Kalanit" width="30" height="30">
        <a href="https://he.wikipedia.org/wiki/%D7%9B%D7%9C%D7%A0%D7%99%D7%AA">Kalanit</a>
    </p>
    <p>
        <img src="/images/Narkis.jpg" id="xxx" class="img-rounded2" alt="Narkis" width="30" height="30">
        <a href="https://he.wikipedia.org/wiki/%D7%A0%D7%A8%D7%A7%D7%99%D7%A1">Narkis</a>
    </p>
    <p>
        <img src="/images/Rakefet.jpg" id="xxx" class="img-rounded2" alt="Rakefet" width="30" height="30">
        <a href="https://he.wikipedia.org/wiki/%D7%A8%D7%A7%D7%A4%D7%AA">Rakefet</a>
    </p>
    <p>
        <img src="/images/Sahlav.jpg" id="xxx" class="img-rounded2" alt="Sahlav" width="30" height="30">
        <a href="https://he.wikipedia.org/wiki/%D7%A1%D7%97%D7%9C%D7%91">Sahlav</a>
    </p>
    <p>
        <img src="/images/Vered.jpg" id="xxx" class="img-rounded2" alt="Vered" width="30" height="30">
        <a href="https://he.wikipedia.org/wiki/%D7%95%D7%A8%D7%93">Vered</a>
    </p>
</div>